@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --pc: #06083f;
    --sc: #f4f4f4;
    --yellow: #ffd000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    font-size: 16px;
    position: relative;
    background-image: linear-gradient(rgba(255, 217, 0, 0.39), rgba(255, 217, 0, 0.39)), url('loan-background.jpg');
    background-size: cover;
}

ul{
    list-style: none;
}

/* Header Style */

header{
    background-color: var(--pc);
    color: white;
    padding: 10px;
}

.main-container{
    margin: 50px auto;
    max-width: 720px;
    background-color: white;
}

form{
    border: 3px solid var(--pc);
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2, label{
    display: block;
    color: #444444;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.input-container{
    text-align: center;
}

input[type="number"]{
    border: 2px solid #dedede;
    height: 45px;
    margin-right: 10px;
    padding: 10px;
    font-size: 22px;
    border-radius: 10px;
}

input[type="number"]:focus{
    background-color: white;
    outline: 0;
}

.btn{
    border-radius: 10px;
    background-color: var(--pc);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 46px;
    line-height: 45px;
    padding: 0 30px;
}

.btn-center{
    display: block;
    margin: auto;
}

/* Table CSS */
.loan-table{
    border: solid black 2px;
}

.loan-table-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    background-color: var(--pc);
    color: white;
}

.loan-table-header > * {
    text-align: center;
    border: 1px solid var(--sc);
}

.row1{
    grid-column: 1/ span 2;
    display: flex;
    justify-content: space-around;
    background-color: var(--yellow);
    color: black
}

.loan-table-body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.loan-table-installments > *, .loan-table-term > * {
    border: 1px solid var(--sc);
    width: 100%;
    text-align: center;
}

.notice{
    margin-bottom: 1rem;
}